In [9]:
import os
print(os.getcwd())

import warnings
warnings.filterwarnings(action='ignore')

c:\jupyter_home\통합프로젝트\library\code

In [10]:
import pandas as pd

In [3]:
cd G:\통합프로젝트\data2

G:\통합프로젝트\data2

In [4]:
os.listdir('../data2')

['user_info_11.csv',
 'user_info_12.csv',
 'user_info_13.csv',
 'user_info_14.csv',
 'user_info_15.csv',
 'user_info_16.csv',
 'user_info_17.csv',
 'user_info_18.csv',
 'user_info_19.csv',
 'user_info_20.csv']

In [5]:
forders = os.listdir('../data2')

In [6]:
cd ../data2

G:\통합프로젝트\data2

In [9]:
import os

path = '../data2/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')]

df = pd.DataFrame()
for i in file_list_py:
    data = pd.read_csv(path + i, error_bad_lines=False)
    df = pd.concat([df,data])
    
df = df.reset_index(drop = True)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18543501 entries, 0 to 18543500
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   rec_key      int64
 1   book_key     int64
 2   user_key     object
 3   loan_date    object
 4   return_date  object
dtypes: int64(2), object(3)
memory usage: 707.4+ MB

In [60]:
display(df.head())

,rec_key,book_key,user_key,loan_date,return_date
0,1822450338,1699774223,D42A0AECF86DE543E159EBCF1F440F55BD9CEF5F,2022-03-31 12:00:00.0,2022-04-18 12:00:00.0
1,1823175933,1625377432,C0149AC77AF2058BCA3E07FE765A0E30837261EA,2022-04-19 12:00:00.0,2022-04-21 12:00:00.0
2,1822450339,1699774321,D42A0AECF86DE543E159EBCF1F440F55BD9CEF5F,2022-03-31 12:00:00.0,2022-04-18 12:00:00.0
3,1823176082,1616331145,E1A7C4AF8B9356CE5A15199E17707545DD7D76DB,2022-04-19 12:00:00.0,2022-04-22 12:00:00.0
4,1822450340,1689903085,D42A0AECF86DE543E159EBCF1F440F55BD9CEF5F,2022-03-31 12:00:00.0,2022-04-18 12:00:00.0

In [11]:
df.to_csv('../data2/user_info_reset.csv')

In [14]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/user_info_reset.csv')

C:\Users\yibob\AppData\Local\Temp\ipykernel_13764\2478813399.py:1: DtypeWarning: Columns (7,8,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/user_info_reset.csv')

In [ ]:
df.info()

In [4]:
df = df[['rec_key','book_key','user_key','loan_date','return_date']]

In [5]:
df['user_key'].value_counts()

022FEB738926B92AF180C5165B668D6A1EFA59B3                            4721
71D159439125294DDFB88D0E4EFA3FF878E3FD44                            4637
52F2E58CB41DCCE478324F9885D358A955E2BA95                            4546
2CA8D880CAE18FC3D982DA52162032185CF53F31                            4242
92E45478D1031EFDD0C81616DCDA6E473C56035D                            3853
                                                                    ...
3a65da21a403042c11b4459034904145cf33cd07f0a23b574538a6e922fbacd5       1
c9f342115ac20c6de730bcb532c3b444540f4099a155e44853b41f25f1efb831       1
d07ef4818b2f9cec3928a79f8c9b32da6172e96a6ce13dc85edaf6fbff615489       1
157c5c4f081c871fdcc913ad665e643a6ecd455c0033dab7a05f4898dc28b66a       1
2A3036303230303031333330                                               1
Name: user_key, Length: 1212343, dtype: int64

In [56]:
a = (df['user_key'].value_counts() > 50 & df['user_key'].value_counts() < 100)
b = list(a[a].index)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [53]:
print(len(b))

56034

In [64]:
a = df['user_key'].value_counts() > 50
b = list(a[a].index)
print(len(b))

56034

In [71]:
df[df['book_key'] == 1204091352]

,rec_key,book_key,user_key,loan_date,return_date
0,1822450338,1204091352,D42A0AECF86DE543E159EBCF1F440F55BD9CEF5F,2022-03-31 12:00:00.0,2022-04-18 12:00:00.0
1,1823175933,1204091352,C0149AC77AF2058BCA3E07FE765A0E30837261EA,2022-04-19 12:00:00.0,2022-04-21 12:00:00.0
2,1822450339,1204091352,D42A0AECF86DE543E159EBCF1F440F55BD9CEF5F,2022-03-31 12:00:00.0,2022-04-18 12:00:00.0
3,1823176082,1204091352,E1A7C4AF8B9356CE5A15199E17707545DD7D76DB,2022-04-19 12:00:00.0,2022-04-22 12:00:00.0
4,1822450340,1204091352,D42A0AECF86DE543E159EBCF1F440F55BD9CEF5F,2022-03-31 12:00:00.0,2022-04-18 12:00:00.0
...,...,...,...,...,...
18543496,21456926,1204091352,2A3134313230303030303930,2022-04-29 12:00:00.0,NaN
18543497,21456927,1204091352,2A3134313230303030303930,2022-04-29 12:00:00.0,NaN
18543498,21456941,1204091352,2A3231313130303030343131,2022-04-29 12:00:00.0,NaN
18543499,21456942,1204091352,2A3231313130303030343131,2022-04-29 12:00:00.0,NaN
18543500,9829482,1204091352,2A3036303230303031333330,2013-12-01 12:00:00.0,2022-04-21 12:00:00.0